<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">  
  <sitecore>

    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreFromArg.SimpleSitemapXml.SitemapXmlGenerator,SitecoreFromArg.SimpleSitemapXml" 
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']">
          <!-- 
          sitemapUrl: 
            Place in the URL where you want to put the sitemap.xml
          
          cacheTime: 
            Cache time in seconds.
          
          excludedPaths:
            Collection of item paths that you want to exclude of the sitemap.xml.
            The pipeline will exclude all items with this string as part of the path.
            You can add more that one, separating them with a pipe
          -->
          <sitemapUrl>/sitemap.ashx</sitemapUrl>
          <cacheTime>3600</cacheTime>
          <excludedPaths>/My Account/|/Customer/</excludedPaths>
        </processor>
      </httpRequestBegin>
    </pipelines>
    
  </sitecore>
  
</configuration>